@import '../../style/App.scss';

#portfolio {
  padding: 20px 0 40px 0;
  background-color: $white-color;

  // Títulos principales
  h1, h2, h3 {
    font-family: 'Cormorant Garamond', serif;
  }

  // Texto normal
  p {
    font-family: 'Open Sans', sans-serif;
  }

  .portfolio__nav {
    ul {
      display: flex;

      li {
        padding: 5px 15px;
        margin-right: 10px;
        cursor: pointer;
        transition: 0.3s ease;
        font-family: 'Playfair Display', serif;
      }

      li:hover {
        background-color: $main-color;
      }
    }

    .portfolio__nav-active {
      background-color: $main-color;
    }
  }

  .eventos {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin: 20px 0;

    .evento {
      text-align: center;
      color: #000000;

      h3 {
        font-family: 'Cormorant Garamond', serif;
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: 1px;
      }

      .hora {
        font-family: 'Playfair Display', serif;
        font-size: 3rem;
        font-weight: bold;
        margin: 10px 0;
      }

      .lugar {
        font-family: 'Playfair Display', sans-serif;
        font-size: 2rem;
        margin: 10px 0;
        font-weight: 600;
      }

      .direccion {
        font-family: 'Playfair Display', sans-serif;
        font-size: 2rem;
        color: #000000;
      }
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 40px;

      .evento {
        .hora {
          font-size: 3rem;
        }

        h3 {
          font-size: 4rem;
        }
        .lugar {
          font-size: 3rem;
        }
      }
    }
  }

  .google-maps-banner {
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    iframe {
      border: none;
      width: 100%;
      height: 350px;

      @media screen and (max-width: 768px) {
        height: 300px;
      }

      @media screen and (max-width: 576px) {
        height: 250px;
      }

      @media screen and (max-width: 400px) {
        height: 200px;
      }
    }
  }
}
