.hero {
  padding-top: 240px;
  width: 100%;
  padding-bottom: 60px;

  .hero-info {
    padding-top: 60px;

    p {
      padding-top: 20px;
      padding-bottom: 50px;
    }
  }

  .hero-image {
    max-width: 570px;
    height: auto;
    float: right;
  }

  // Estilos para el contador
  .hero-countdown {
    text-align: center;
    margin-top: 30px;
    padding: 20px;
    font-size: 1.5rem;
    color: #5a2d1b;
    background-color: #f8f1ed;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    h2 {
      margin-bottom: 10px;
      font-size: 1.8rem;
      font-weight: bold;
    }

    p {
      font-size: 1.6rem;
      font-weight: 600;
    }
  }
}

@media screen and (max-width: 1080px) {
  .hero {
    padding-top: 140px;

    .hero-info {
      padding-top: 0px;
    }

    .hero-image {
      float: none;
      margin: 0 auto;
      margin-top: 50px;
    }
  }
}

@media screen and (max-width: 990px) {
  .hero {
    .hero-info {
      text-align: center;
    }

    .hero-countdown {
      font-size: 1.2rem;
      h2 {
        font-size: 1.5rem;
      }
    }
  }
}
