.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Subimos los textos */
  text-align: center;
  background-color: #f8f1ed; /* Fondo pastel */
  background-image: url('../../assets/images/fondoWeddingMain.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  padding-top: 140px;

  // Contenido principal
  .hero-content {
    margin-top: 50px;
    color: #5a2d1b;

    .hero-date {
      font-family: "Noto Serif", serif;
      font-size: 4rem;
      font-weight: 400;
      margin-bottom: 15px;
    }

    .hero-names {
      font-family: "Great Vibes", serif;
      font-size: 8rem;
      font-weight: 700;
      margin: 10px 0;
    }

    .hero-marriage-message {
      font-family: "Noto Serif", cursive;
      font-size: 4rem;
      font-weight: 400;
      margin-top: 12px;
    }

    .hero-button {
      margin-top: 50px;
      padding: 10px 20px;
      font-family: "Noto Serif", serif;
      font-size: 2rem;
      color: white;
      background-color: #d67a7a;
      border: none;
      border-radius: 25px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #c56969;
      }
    }
  }

  // Media queries para responsividad
  @media (max-width: 768px) {
    padding-top: 140px;

    .hero-content {
      margin-top: 30px;

      .hero-date {
        font-size: 3rem;
      }

      .hero-names {
        font-size: 6rem;
      }

      .hero-marriage-message {
        font-size: 3rem;
      }

      .hero-button {
        font-size: 2.5rem;
      }
    }
  }

  @media (max-width: 480px) {
    padding-top: 140px;

    .hero-content {
      margin-top: 30px;

      .hero-date {
        font-size: 2.5rem;
      }

      .hero-names {
        font-size: 4rem;
      }

      .hero-marriage-message {
        font-size: 2.5rem;
      }

      .hero-button {
        font-size: 1.3rem;
      }
    }
  }
}
