#attendance {
  padding: 60px 20px;
  background-color: #faf6f3;

  .wrapperAttendance {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;

    .subtitle {
      font-family: "Playfair Display", serif;
      font-size: 1.7rem;
      margin: 20px 0 40px;
      color: #5a2d1b;
      max-width: 800px;
      
      text-align: center;
    }

    h1, h2, h3 {
      font-family: 'Cormorant Garamond', serif;
    }
    
    form {
      max-width: 800px;
      margin: 0 auto;
      text-align: center;
      background-color: #ffffff;
      border: 2px solid #e8e3e0;
      border-radius: 15px;
      padding: 30px;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      gap: 20px;

      input,
      textarea {
        padding: 10px;
        border: 2px solid #e8e3e0;
        border-radius: 10px;
        font-size: 1.4rem;
        outline: none;
        transition: border-color 0.3s;

        &:focus {
          border-color: #d67a7a;
        }
      }

      textarea {
        resize: none;
      }

      .checkbox-container {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 1.4rem;
        color: #5a2d1b;

        input {
          accent-color: #d67a7a;
        }
      }

      .submit-button {
        background-color: #d67a7a;
        color: #ffffff;
        margin-top: 10px;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #c56969;
        }

        &:disabled {
          background-color: #e8e3e0;
          cursor: not-allowed;
        }
      }
    }
  }
}
